* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

header {
	background-color: #34eb98;
	height: 100px;
	color: white;
/*	display: grid;*/
/*	grid-template-rows: 100%;
	grid-template-columns: 75% 25%;*/
}

/*why aren't grid or flex working?!*/

.title {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 45px;
	color: white;
	padding: 25px;
/*	grid-row: 1, span 1;
	grid-column: 1, span 1;*/
	text-align: center;
}

#topNav {
	max-width: 50%;
	height: auto;
	padding: 15px;
/*	grid-row: 1, span 1;
	grid-column: 2, span 1;*/
}

.main {
	width: 80%;
	background-color: #171717;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	margin: 50px;
	padding: 20px;
	margin: auto;
}

.photo {
	background-image: url("../images/tempArt.jpg");
	background-size: cover;
}

/*row 1*/
	.photo1 {
		grid-row: 1, span 1;
		grid-column: 1, span 1;
		/*background-image: relative;*/
		/*background - make sure it's set to fill, but stays proportional*/
	}

	.description1 {
		grid-row: 1, span 1;
		grid-column: 2, span 1;
		background-color: white;
		padding: 15px;
	}
/*row 2*/
	.description2 {
		grid-row: 2, span 1;
		grid-column: 1, span 1;
		background-color: white;
		padding: 15px;
	}

	.photo2 {
		grid-row: 2, span 1;
		grid-column: 2, span 1;
		/*background-image: relative;*/
	}
/*row 3*/
	.photo3 {
		grid-row: 3, span 1;
		grid-column: 1, span 1;
		/*background-image: relative;*/
	}

	.description3 {
		grid-row: 3, span 1;
		grid-column: 2, span 1;
		background-color: white;
		padding: 15px;
	}
/*row 4*/
	.description4 {
		grid-row: 4, span 1;
		grid-column: 1, span 1;
		background-color: white;
		padding: 15px;
	}

	.photo4 {
		grid-row: 4, span 1;
		grid-column: 2, span 1;
		/*background-image: relative;*/
	}
/*row 5*/
	.photo5 {
		grid-row: 5, span 1;
		grid-column: 1, span 1;
		/*background-image: relative;*/
	}

	.description5 {
		grid-row: 5, span 1;
		grid-column: 2, span 1;
		background-color: white;
		padding: 15px;
	}
/*row 6*/
	.description6 {
		grid-row: 6, span 1;
		grid-column: 1, span 1;
		background-color: white;
		padding: 15px;
	}

	.photo6 {
		grid-row: 6, span 1;
		grid-column: 2, span 1;
		/*background-image: relative;*/
	}

footer {
/*	display: inline, flex;
	flex-direction: row;
	justify-content: space-around;*/
	background-color: #34eb98;
	color: white;
	/*position: fixed;
  	left: 0;
  	bottom: 0;*/
  	width: 100%;
  	height: 100px;
}

.footer1, .footer2 {
	padding: 15px;
}